<div class="flex">
  <aside
    class="font-poppins antialiased fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
    aria-label="Sidebar">
    <div id="view" class="h-full relative flex flex-row">
      <div id="sidebar"
        class="bg-white h-screen md:block shadow-xl px-3 w-30 md:w-60 lg:w-60 overflow-x-hidden transition-transform duration-300 ease-in-out"
        x-show="sidenav">
        <div class=" md:space-y-4 mt-10">
          <h1 class="font-bold text-4xl text-center md:hidden">
            E<span class="text-[#3498DB]">.</span>
          </h1>
          <h1 class="hidden md:block font-bold text-sm md:text-xl text-center">
            Educar para <br><span class="text-[#3498DB]">Tranformar</span>
          </h1>
          <div id="profile" class="space-y-3">
            <img src="./assets/img/icons/usuario.png" alt="Avatar user" class="w-12  md:w-16 rounded mx-auto" />
            <div>
              <h2 class="font-medium text-xs md:text-sm text-center text-[#3498DB]">
                <span>{{ usuario }}</span>
              </h2>
              <p class="text-xs text-gray-500 text-center"><span>{{ rolTexto }}</span></p>
            </div>
          </div>
        </div>
        <div id="menu" class="flex flex-col space-y-2">
          <a *ngIf="isLogged && (rol === 'ROLE_AUTORIDAD' || rol === 'ROLE_DOCENTE')" routerLink="/alumnos"
            class="text-sm font-medium text-gray-700 py-2 px-2 hover:bg-[#3498DB] hover:text-white hover:text-base hover:scale-105 rounded-md transition duration-150 ease-in-out flex flex-row justify-left align-center text-center">
            <!-- Si querés que el ícono en el sidebar sea más chico, solo modifica la clase w-10 por un número meno w-8 por ejemplo -->
            <img class="w-10" src="./assets/img/icons/grupo.png" alt="">
            <span class="pt-2 pl-2">Alumnos</span>
          </a>
          <a *ngIf="isLogged && (rol === 'ROLE_AUTORIDAD' || rol === 'ROLE_DOCENTE' || rol === 'ROLE_ESTUDIANTE')"
            routerLink="/materias" class="text-sm font-medium text-gray-700 py-2 px-2 hover:bg-[#3498DB] hover:text-white hover:text-base hover:scale-105 rounded-md transition duration-150 ease-in-out 
            flex flex-row justify-left align-center text-center">
            <img class="w-10" src="./assets/img/icons/libro.png" alt="">
            <span class="pt-2 pl-2">Materias</span>
          </a>
          <a *ngIf="isLogged && rol === 'ROLE_AUTORIDAD'" routerLink="/docentes" class="text-sm font-medium text-gray-700 py-2 px-2 hover:bg-[#3498DB] hover:text-white hover:scale-105 rounded-md transition duration-150 ease-in-out
            flex flex-row justify-left align-center text-center">
            <img class="w-10" src="./assets/img/icons/maestro.png" alt="">
            <span class="pt-2 pl-2">Docentes</span>
          </a>
          <a *ngIf="isLogged && rol === 'ROLE_AUTORIDAD' || rol == 'ROLE_ESTUDIANTE'" routerLink="/pagos" class="text-sm font-medium text-gray-700 py-2 px-2 hover:bg-[#3498DB] hover:text-white hover:scale-105 rounded-md transition duration-150 ease-in-out
            flex flex-row justify-left align-center text-center">
            <img class="w-10" src="./assets/img/icons/factura.png" alt="">
            <span class="pt-2 pl-2">Pagos</span>
          </a>

          <a *ngIf="isLogged" (click)="onLogOut()" class="text-sm font-medium text-gray-700 py-2 px-2 hover:bg-[#3498DB] hover:text-white hover:scale-105 rounded-md transition duration-150 ease-in-out
            flex flex-row justify-left align-center text-center">
            <img class="w-10" src="./assets/img/icons/puerta-de-salida.png" alt="">
            <span class="pt-2 pl-2">Salir</span>
          </a>
        </div>
      </div>

    </div>
  </aside>
  <div class="flex">
    <div class="ml-0 md:ml-60 p-4 absolute top-0 left-0 right-0 bottom-0">
      <div class="block mt-10 text-center place-content-center ">
        <!-- Contenido principal de la página -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>