<app-menu></app-menu>
<div class="flex">
    <div class="ml-0 md:ml-60 p-4 absolute top-0 left-0 right-0 bottom-0 divPrincipal">
      <div class="block mt-10 text-center place-content-center ">
            <div  class="block w-30 p-6 bg-white  rounded-lg shadow hover:bg-dark-100 dark:bg-white-600 dark:border-gray-700 ">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-black">Bienvenido! 👋 <span class="font-normal text-gray-700 dark:text-[#3498DB]"> {{ rolTexto }}</span> </h5>
            </div>
        </div>
    </div>
</div>





