<app-menu></app-menu>

<div class="flex justify-center align-center">
    <div class="p-4 relative font-poppins w-screen divPrincipal h-screen ">
        <div class="block mt-10 text-center place-content-center ">
            <div class="fixed inset-0 z-50 overflow-y-auto" aria-labelledby="modal-title" role="dialog"
                aria-modal="true">
                <div
                    class="flex items-end justify-center min-h-screen px-4 text-center md:items-center sm:block sm:p-0">
                    <div class="overlay" class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-40"
                        aria-hidden="true"></div>

                    <div x-cloak
                        class="inline-block w-full max-w-xl p-8 my-20 overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl 2xl:max-w-2xl">
                        <div class="flex items-center justify-between space-x-4">
                            <h1 class="text-xl font-medium text-gray-800">Lista Alumnos</h1>
                            <button (click)="closeListaAlumnoModal()"
                                class="text-gray-600 focus:outline-none hover:text-gray-700">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                            </button>
                        </div>
                        <div class="flex flex-col">
                            <div class="overflow-x-auto shadow-md sm:rounded-lg">
                              <div class="inline-block min-w-full align-middle">
                                <div class="overflow-hidden ">
                                  <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-700">
                                    <thead class="bg-gray-100 dark:bg-gray-700">
                                      <tr>
                    
                                        <th scope="col"
                                          class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                          Nombre y Apellido
                                        </th>
                                        <th scope="col"
                                          class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                          Email
                                        </th>
                                        <th scope="col"
                                          class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                          DNI
                                        </th>
                                                                          
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let alumno of alumnosDeLaMateria">
                                            <td class="py-4 px-6 text-sm font-medium">
                                                {{ alumno.nombreCompleto }}
                                            </td>
                                            <td class="py-4 px-6 text-sm font-medium">
                                                {{ alumno.usuario.email }}
                                            </td>
                                            <td class="py-4 px-6 text-sm font-medium">
                                                {{ alumno.dni }}
                                            </td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>