<app-menu></app-menu>

<div class="flex">
  <div class="ml-0 md:ml-60 p-4 absolute top-0 left-0 right-0 bottom-0 divPrincipal">
    <div class="block mt-10 text-center place-content-center ">
      <div *ngIf="rol === 'ROLE_AUTORIDAD'" class="w-full flex justify-center py-12" id="button">
        <button (click)="openNuevoAlumnoModal()"
          class=" shadow-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 mx-auto transition duration-150 ease-in-out hover:bg-indigo-600 bg-indigo-700 rounded text-white px-4 sm:px-8 py-2 text-xs sm:text-sm">Agregar
          materia</button>
      </div>
      <svg (click)="toggleSidebar()" fill="#000000" version="1.1" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 231 231" class="w-5 top-0 left-0 mb-3 text-[#3498DB] z-40"
                xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 231 231" transform="rotate(180)">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <g>
                        <rect width="230" x="0.5" y="198" height="33"></rect>
                        <rect width="131" x="1.5" y="133" height="33"></rect>
                        <rect width="131" x="1.5" y="66" height="33"></rect>
                        <rect width="230" x="0.5" height="33"></rect>
                        <polygon points="197.5,83 148.5,116 197.5,149 197.5,132 230.5,132 230.5,99 197.5,99 "></polygon>
                    </g>
                </g>
            </svg>
      <div class="flex flex-col">
        <div class="overflow-x-auto shadow-md sm:rounded-lg">
          <div class="inline-block min-w-full align-middle">
            <div class="overflow-hidden ">
              <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-700">
                <thead class="bg-gray-100 dark:bg-gray-700">
                  <tr>

                    <th scope="col"
                      class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                      Materia
                    </th>
                    <th scope="col"
                      class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                      Turno
                    </th>
                    <th scope="col"
                      class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                      Entrada
                    </th>
                    <th scope="col"
                      class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                      Salida
                    </th>
                    <th scope="col"
                      class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                      Profesor
                    </th>
                    <th *ngIf="rol === 'ROLE_DOCENTE'" scope="col"
                      class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                      Aula
                    </th>
                    <th *ngIf="rol === 'ROLE_DOCENTE'" scope="col"
                      class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                      Examen
                    </th>
                    <th *ngIf="rol === 'ROLE_AUTORIDAD'" scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                      Inscribir
                    </th>
                    <th *ngIf="rol === 'ROLE_DOCENTE' || rol === 'ROLE_AUTORIDAD'" scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                      Imprimir
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
                  <tr class="hover:bg-gray-100 dark:hover:bg-gray-700" *ngFor="let materia of materias">
                    <td class="py-4 text-left pl-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      <button *ngIf="esDocenteOrAutoridad()" (click)="openListaAlumnoModal(materia.id)">
                        {{ materia.nombreMateria }}
                      </button>
                      <span *ngIf="!esDocenteOrAutoridad()">
                        {{ materia.nombreMateria }}
                      </span>
                    </td>
                    <td class="py-4 text-left pl-6 text-sm font-medium text-gray-500 whitespace-nowrap dark:text-white">
                      {{ materia.turno }}
                    </td>
                    <td class="py-4 text-left pl-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      {{ materia.horarioEntrada }}
                    </td>
                    <td class="py-4 text-left pl-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      {{ materia.horarioSalida }}
                    </td>
                    <td class="py-4 text-left pl-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      <span *ngIf="materia.docente">
                        {{ materia.docente.nombre + " " + materia.docente.apellido }}
                      </span>
                    </td>
                    <td *ngIf="rol === 'ROLE_DOCENTE'" class="py-4 text-left pl-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      <span *ngIf="materia.docente">
                        {{ materia.aula }}
                      </span>
                    </td>
                    <td *ngIf="rol === 'ROLE_DOCENTE'" class="py-4 text-left pl-6 text-sm font-medium whitespace-nowrap">
                      <a (click)="openNuevoExamenModal(materia.id)" class="text-blue-600 dark:text-blue-500 hover:underline">Nuevo Examen</a>
                    </td>
                    <td *ngIf="rol === 'ROLE_AUTORIDAD'" class="py-4 text-left pl-6 text-sm font-medium whitespace-nowrap">
                      <a (click)="openAsignarAlumnoModal(materia.id)" class="text-blue-600 dark:text-blue-500 hover:underline">Inscribir alumno</a>
                    </td>
                    <td *ngIf="rol === 'ROLE_DOCENTE' || rol === 'ROLE_AUTORIDAD'" class="py-4 text-left pl-6 text-sm font-medium whitespace-nowrap">
                      <a (click)="createPdf(materia)" class="text-blue-600 dark:text-blue-500 hover:underline">Imprimir alumnos</a>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="rol === 'ROLE_ESTUDIANTE'" class="w-full flex justify-center py-12" id="button">
        <button (click)="openImprimirMaterias()"
          class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 mx-auto transition shadow-xl duration-150 ease-in-out hover:bg-indigo-600 bg-indigo-700 rounded text-white px-4 sm:px-8 py-2 text-xs sm:text-sm">Imprimir
          Materias</button>
      </div>
    </div>

    <div *ngIf="modalAgregarMateria == true">
      <app-materias-modal></app-materias-modal>
    </div>
    <div *ngIf="modalListaAlumnos == true">
      <app-lista-alumnos-modal></app-lista-alumnos-modal>
    </div>
    <div *ngIf="modalAsignarAlumno == true">
      <app-asignar-alumno-modal [materia]="materiaSeleccionada"></app-asignar-alumno-modal>
    </div>

    <div *ngIf="modalNuevoExamen == true">
      <app-nuevo-examen-modal [materia]="materiaSeleccionadaParaExamen"></app-nuevo-examen-modal>

    </div>

  </div>
</div>